---
http_interactions:
- request:
    method: get
    uri: http://api.tomtom.com/search/2/poiSearch/Fischers.json?key=<SECRET_KEY>&lat=51.50&limit=10&lon=-0.13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Tracking-Id:
      - cc87db02-e506-461a-afef-7ca579d2ac33
      X-Tomtom-Processed-By:
      - westeurope
      X-Tomtom-Upstream-Service-Time:
      - '23'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: UTF-8
      string: '{"detailedError":{"code":"Forbidden","message":"You are not allowed
        to access this endpoint"}}'
  recorded_at: Mon, 29 Dec 2025 16:12:54 GMT
recorded_with: VCR 6.4.0
